<div class="nav">
  <p><%= link_to 'TestGuru', root_path %></p>

  <span class="nav-admin title">Панель управления TestGuru</span>

  <% if user_signed_in? %>
    <p class="nav-admin user">Добро пожаловать, <b class="nav-admin user-email"><%= current_user.email %></b></p>
  <% end %>

  <div class="actions">
    <%= link_to 'Выйти', destroy_user_session_path, method: :delete if user_signed_in? %>
  </div>
</div>
