<tr>
  <td class="align-middle"><%= sprite_for(badge.filename) %></td>
  <td class="align-middle"><%= badge.name %></td>
  <td class="align-middle"><%= Badge.human_enum_name(:rule, badge.rule) %></td>
  <td class="align-middle"><%= condition(badge) %></td>
</tr>
