<div class="footer">
  <hr>
  <%= github_url('alexamy', 'thinknetica-rails') %>
  <p>Test framework for students and teachers</p>
  <p>alexamy, <%= current_year %></p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/' %>
</div>
