// Place all the styles related to the Admin::Badge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#badge_icon {
  display: inline-block;
  background-size: 30px, 30px;
  width: 30px;
  height: 30px;
}
