.navigation {
  text-align: right;
  p {
    margin: 0;
  }
}

.navigation .actions {
  margin-bottom: 5px;
}

.navigation.navigation-admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.navigation-admin.title {
  font-size: 140%;
  font-weight: bold;
}

.navigation-admin.user-email {
  text-decoration: underline;
}

.navigation.navigation-admin a {
  color: #ffffff;
}
