<h1><%= @test.title %></h1>
<p>Уровень: <%= @test.level %></p>

<p>Вопросы:</p>
<table>
  <tr>
    <th>Вопрос</th>
    <th>Действия</th>
  </tr>
  <%= render @test.questions %>
</table>
<br>

<%= link_to 'К списку тестов', tests_path %>
